@mixin breakpoint( $point ) {
	@if $point == tablet {
		@media ( min-width: 600px ) {
			@content ;
		}
	}
	@if $point == pc {
		@media ( min-width: 769px ) {
			@content ;
		}
	}
}

html {
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
button {
	touch-action: manipulation;
	user-select: none;
}
.hand-draw {
	.title {
		text-align: center;
		margin-bottom: 24px;
	}
	.ui-set {
		width: 375px;
		margin: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
		li {
			margin: 0;
			&.right {
				margin: 0 0 0 auto;
			}
		}
		.form-type-select {
			display: none;
		}
		.form-type-select:checked + i {
			color: #333;
		}
		label {
			font-size: 0;
			&:hover {
				cursor: pointer;
			}
		}
		i {
			font-size: 24px;
			color: #999;
		}
		.fa-circle {
			color: #000;
		}
		.button-undo,
		.button-redo,
		.button-clear,
		.button-download {
			background-color: transparent;
			border: none;
			padding: 0;
			appearance: none;
			cursor: pointer;
			text-decoration: none;
			> span {
				font-size: 0;
			}
		}
	}
}
main {
	padding: 20px;
	@include breakpoint( tablet ) {
		max-width: 900px;
		margin: auto;
		display: block;
	}
}
.canvas-wrapper {
	width: 375px;
	height: 375px;
	margin: 24px auto;
	border: 10px solid #333;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.image-canvas,
.draw-canvas,
.draw-temp-canvas,
.ponter-canvas {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// background-color: rgb( 255 0 0 / .5 );
	position: absolute;
	box-sizing: border-box;
}

.dialog-clear {
	text-align: center;
	border-color: #c5c5c5;
	p {
		margin-bottom: 16px;
	}
	&__buttons {
		display: flex;
		justify-content: center;
		gap: 8px;
		button {
			background-color: transparent;
			border: none;
			appearance: none;
			cursor: pointer;
			padding: 8px 16px;
			border-radius: 8px;
			font-size: 14px;
			&.clear-no {
				background-color: #e0e0e0;
			}
			&.clear-ok {
				background-color: #d8124d;
				color: #fff;
			}
		}
	}
	&::backdrop {
		background: rgb( 0 0 0 / .4 );
	}
}